* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #111;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.scene {
  perspective: 900px;
  perspective-origin: 0% 30%;
  width: 100vw;
  height: 100vh;
}

.mini-room {
    position: absolute;
    width: 200px;
    height: 200px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transform-style: preserve-3d;
}

/**wall styling**/
.wall {
  position: absolute;
  width: 200px;
  height: 200px;
  background: #3268cc5e;
}

/* wall rotations/placement */
.front-wall {
    transform: translateZ(-100px);
}
.back-wall { 
    transform: translateZ(100px);
}
.right-wall {
    transform: rotateY(90deg) translateZ(100px);
}
.left-wall { 
    transform: rotateY(-90deg) translateZ(100px);
}

.floor {
  position: absolute;
  width: 200px;
  height: 200px;
  background: #3268cc;
  top: 50%;
  left: 50%;
  transform: rotateX(90deg) translateX(-100px);
}