:root {
    --room-size: 400px;
    --half-room: calc(var(--room-size)/2);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #111;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.scene {
  perspective: 900px;
  perspective-origin: 0% 30%;
  width: 100vw;
  height: 100vh;
}

.mini-room {
    position: absolute;
    width: var(--room-size);
    height: var(--room-size);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transform-style: preserve-3d;
}

/**wall styling**/
.wall {
  position: absolute;
  width: var(--room-size);
  height: var(--room-size);
  background: #3268cc5e;
  border: 2px solid;
}

/* wall rotations/placement */
.front-wall {
    transform: translateZ(calc(-1*var(--half-room)));
}
.back-wall { 
    transform: translateZ(var(--half-room));
}
.right-wall {
    transform: rotateY(90deg) translateZ(var(--half-room));
}
.left-wall { 
    transform: rotateY(-90deg) translateZ(calc(var(--half-room)));
}

.floor {
  position: absolute;
  width: var(--room-size);
  height: var(--room-size);
  background: #3268cc;
  top: 50%;
  left: 50%;
  transform: rotateX(90deg) translateX(-200px);
}